# Projekt: Prisprognos f칬r Begagnade Bilar 游뚱游눯

**M친l:** Vi ska bygga en Machine Learning-modell som kan gissa priset p친 en bil baserat p친 dess egenskaper.

**Metod:**
1. **Data Cleaning:** G칬ra om text till siffror (One-Hot Encoding).
2. **Feature Engineering:** Skapa smartare variabler (t.ex. "Bilens 친lder" ist칛llet f칬r "칀rtal").
3. **Model Battle:** Vi st칛ller 4 olika algoritmer mot varandra f칬r att se vem som har l칛gst felmarginal (RMSE).

In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Importera modellerna vi ska t칛vla med
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

# L칛s in datan (semikolon-separerad)
# Vi anv칛nder pandas f칬r att skapa en DataFrame (en tabell)
df = pd.read_csv('car_price_dataset.csv', sep=';')

# Visa de f칬rsta 5 raderna f칬r att se vad vi jobbar med
print("--- R친data (De f칬rsta raderna) ---")
display(df.head())

--- R친data (De f칬rsta raderna) ---

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867

## Steg 1: Datast칛dning (One-Hot Encoding)
Datorer kan inte r칛kna med ord som "Volvo" eller "Diesel". De beh칬ver siffror.

Vi anv칛nder **One-Hot Encoding** f칬r att g칬ra om kategorier till siffror:
* En kolumn `Fuel_Type` med v칛rdet "Diesel" blir...
* En ny kolumn `Fuel_Type_Diesel` med v칛rdet **1** (f칬r ja) eller **0** (f칬r nej).

In [69]:
# 'drop_first=True' tar bort den f칬rsta kategorin f칬r att undvika dubbelinformation.
# (Om det t.ex. inte 칛r Bensin eller Diesel, s친 vet modellen automatiskt att det 칛r El/Hybrid).
df_encoded = pd.get_dummies(df, drop_first=True)

print(f"Antal kolumner efter st칛dning: {df_encoded.shape[1]}")
print(df_encoded.head())
display(df_encoded.head())

Antal kolumner efter st칛dning: 49
   Year  Engine_Size  Mileage  Doors  Owner_Count  Price  Brand_BMW  \
0  2020          4.2   289944      3            5   8501      False
1  2012          2.0     5356      2            3  12092      False
2  2020          4.2   231440      4            2  11171      False
3  2023          2.0   160971      2            1  11780      False
4  2003          2.6   286618      3            3   2867      False

   Brand_Chevrolet  Brand_Ford  Brand_Honda  ...  Model_Sonata  \
0            False       False        False  ...         False
1             True       False        False  ...         False
2            False       False        False  ...         False
3            False       False        False  ...         False
4            False       False        False  ...         False

   Model_Sportage  Model_Tiguan  Model_Tucson  Model_X5  Fuel_Type_Electric  \
0           False         False         False     False               False
1           False         False         False     False               False
2           False         False         False     False               False
3           False         False         False     False                True
4           False         False         False     False               False

   Fuel_Type_Hybrid  Fuel_Type_Petrol  Transmission_Manual  \
0             False             False                 True
1              True             False                False
2             False             False                False
3             False             False                 True
4              True             False                False

   Transmission_Semi-Automatic
0                        False
1                        False
2                        False
3                        False
4                         True

[5 rows x 49 columns]

,Year,Engine_Size,Mileage,Doors,Owner_Count,Price,Brand_BMW,Brand_Chevrolet,Brand_Ford,Brand_Honda,...,Model_Sonata,Model_Sportage,Model_Tiguan,Model_Tucson,Model_X5,Fuel_Type_Electric,Fuel_Type_Hybrid,Fuel_Type_Petrol,Transmission_Manual,Transmission_Semi-Automatic
0,2020,4.2,289944,3,5,8501,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,2012,2.0,5356,2,3,12092,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,2020,4.2,231440,4,2,11171,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2023,2.0,160971,2,1,11780,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
4,2003,2.6,286618,3,3,2867,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True

## Steg 2: Feature Engineering (G칬ra datan smartare) 游
H칛r anv칛nder vi v친r m칛nskliga logik f칬r att hj칛lpa modellen.

1. **칀lder ist칛llet f칬r 칀rtal:** En modell f칬rst친r "8 친r gammal" b칛ttre 칛n "Tillverkad 2016".
2. **Mil per 칀r (Intensitet):** En bil som g친tt 20 000 mil p친 2 친r 칛r mer sliten 칛n en som g친tt samma str칛cka p친 10 친r.

Vi skapar dessa variabler nu.

In [70]:
# Vi jobbar p친 en kopia f칬r att inte f칬rst칬ra originalet
df_fe = df_encoded.copy()

# 1. Skapa "Car_Age" (Vi antar att 친ret 칛r 2024)
df_fe['Car_Age'] = 2024 - df['Year']

# Fix: Om bilen 칛r helt ny (0 친r), s칛tt 친lder till 1 f칬r att undvika division med noll
df_fe['Car_Age'] = df_fe['Car_Age'].replace(0, 1)

# 2. Skapa "Miles_Per_Year" (Hur h친rt bilen k칬rts)
df_fe['Miles_Per_Year'] = df_fe['Mileage'] / df_fe['Car_Age']

# 3. St칛da bort 'Year'
# Nu n칛r vi har 'Age' beh칬ver vi inte 'Year'. Det blir bara brus f칬r modellen.
df_fe = df_fe.drop(['Year'], axis=1)

# Visa de nya super-kolumnerna
print("--- Nya Smartare Features ---")
display(df_fe[['Car_Age', 'Miles_Per_Year', 'Price']].head())

--- Nya Smartare Features ---

   Car_Age  Miles_Per_Year  Price
0        4    72486.000000   8501
1       12      446.333333  12092
2        4    57860.000000  11171
3        1   160971.000000  11780
4       21    13648.476190   2867

## Steg 3: Dela upp i Tr칛ning och Test
Vi m친ste g칬mma en del av datan (20%) f칬r att kunna testa modellen 칛rligt.
* **X:** Alla ledtr친dar (Miltal, 칀lder, M칛rke...)
* **y:** Facit (Priset)

In [71]:
## Steg 4: The Model Battle Royale 游볡
Nu st칛ller vi fyra olika "hj칛rnor" mot varandra:

1. **Linear Regression:** Den enkla standardmodellen. Drar r칛ta linjer.
2. **Random Forest:** En "skog" av beslutstr칛d. Bra p친 kr친ngliga m칬nster.
3. **Gradient Boosting:** Bygger tr칛d stegvis f칬r att r칛tta sina egna fel. Ofta vinnare i t칛vlingar.
4. **Smart Polynom (x):** En linj칛r modell som f친r se variablerna "upph칬jt till 2".

Vi m칛ter felet i **RMSE** (Root Mean Squared Error). Det betyder ungef칛r "Genomsnittligt fel i kronor".
**L칛gre 칛r b칛ttre!**

SyntaxError: invalid character '' (U+00B2) (2987236679.py, line 7)